* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
}
body > article {
  display: flex;
  flex-direction: column;
  background-color: #E9EAED;
}
body > article > header {
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #AD4194, #5361D7, #037DFD, #52D1A5);
}
body > article nav {
  height: 50px;
  display: flex;
  background-color: #1C2327;
  align-items: center;
  margin-bottom: 20px;
}
body > article nav h2 {
  padding: 0 70px;
  transform: translateY(-4px);
}
body > article nav h2 a {
  color: #FFF;
  font-size: 0.8em;
}
body > article nav h2 a:hover {
  color: #FF6700;
}
body > article nav ul {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
body > article nav ul a {
  color: #FFF;
  font-size: 14px;
}
body > article nav ul a:hover {
  color: #FF6700;
}
body > article nav div {
  padding: 0 70px;
}
body > article nav div i {
  color: #FFF;
}
body > article nav div i:hover {
  color: #FF6700;
}
body > article main {
  position: relative;
  display: flex;
}
body > article main section {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  width: 900px;
  height: 310px;
  border: 1px solid black;
  margin-right: 20px;
  background-color: #fff;
}
body > article main section header {
  padding: 30px 400px 0 20px;
  border-bottom: 1px solid #E4E3E3;
}
body > article main section header ul {
  display: flex;
  justify-content: space-between;
}
body > article main section header ul li {
  padding-bottom: 7px;
}
body > article main section header ul li:nth-child(1) {
  border-bottom: 3px solid black;
}
body > article main section > article {
  flex: 1;
  display: flex;
  padding: 10px 15px 20px 20px;
}
body > article main section > article > div {
  width: 295px;
  height: 220px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #E9EAED;
  padding-right: 15px;
}
body > article main section > article > div > div {
  height: 50%;
}
body > article main section > article > ul {
  flex: 1;
  border-left: 1px solid #E9EAED;
  padding-left: 15px;
  padding-bottom: ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body > article main aside {
  position: relative;
  right: 0;
  margin-right: 70px;
  width: 283px;
  height: 310px;
  border: 1px solid black;
  background-color: #fff;
}
body > article main aside ul {
  box-sizing: content-box;
  padding: 30px 0px 0px 20px;
  border-bottom: 1px solid #E4E3E3;
}
body > article main aside ul p {
  margin-right: 196px;
  border-bottom: 3px solid black;
  padding-bottom: 7px;
  cursor: pointer;
  transition: 1s;
}
body > article main aside ul p:hover {
  margin-right: 180px;
}
body > article footer > div:first-child {
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #AD4194, #5361D7, #037DFD, #52D1A5);
}
body > article footer > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #373D41;
}
